* {
    margin: 0;
    padding: 0;
}

/* Header Start */

header h3 {
    font-family: cursive;
    font-size: 23px;
    float: left;
    margin-left: 8%;
    margin-top: 25px;
}

header nav a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}

header {
    height: 5em;
}

header nav {
    float: right;
    margin-top: 30px;
    margin-right: 10px;
}

header nav .br {
    border-right: 1px solid black;
}

/* Header End */

/* Aside Start */

aside {
    border: 1px solid black;
    text-align: center;
    color: darkgray;
    margin-left: 50px;
    margin-right: 50px;
    padding: 40px;
}

/* Aside End */

/* About Me Start */

.about_me {
    height: 66em;
}

#profile {
    width: 100px;
    margin-top: 30%;
    margin-bottom: 10%;
    margin-left: 13%;
    margin-right: 10%;
    border: 2px solid dodgerblue;
}

#about_me_h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    font-weight: lighter;
    text-align: center;
    color: brown;
    margin-top: 5%;
}

.about_me #hr1 {
    margin-left: 46%;
    margin-right: 47%;
    height: 2px;
    color: brown;
    background-color: brown;
}

.about {
    float: right;
    margin-top: 5%;
    margin-right: 19%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkgray;
    font-size: 17px;
}

.about hr {
    height: 1.5px;
    color: black;
    background-color: black;
    margin-top: 8.5px;
    margin-bottom: 8px;
}

.about p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.about_me .hr3 {
    width: 90%;
    margin-top: 20.7%;
    margin-left: 5%;
    margin-right: 5%;
}

.about_me .hr3 hr {
    height: 2px;
    background-color: black;
    margin-top: 6px;
}

/* About Me End */

/* My Skills Start */
.my_skills {
    height: 33.2em;
}

.my_skills #my_skills_h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    font-weight: lighter;
    text-align: center;
    margin-top: 20px;
}

.my_skills #my_skills_hr {
    margin-left: 46%;
    margin-right: 47%;
    height: 2px;
    color: black;
    background-color: black;
    margin-top: 10px;
}

.my_skills_list {
    margin-top: 12%;
    margin-left: 10%;
    height: 18em;
}

.my_skills_list ul li {
    font-size: 25px;
    width: 40%;
}

.skill_hr {
    margin-right: 60%;
    height: 2px;
    margin-top: 15px;
}

.skill_hr hr {
    margin-top: 8px;
    height: 0.8px;
    background-color: darkgray;
}

#proj {
    float: right;
    width: 35%;
    margin-top: 12.5%;
    margin-right: 13%;
}

/* My Skills End */

/* Education Start */
.education {
    height: 22em;
}

#edu_h {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    font-weight: lighter;
    text-align: center;
    color: brown;
}

#edu_hr {
    margin-left: 46%;
    margin-right: 47%;
    height: 2px;
    color: brown;
    background-color: brown;
    margin-top: 5px;
}

.edu_list {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 7%;
}

.education_hr hr {
    height: 1px;
    color: black;
    background-color: black;
    margin-top: 7px;
    margin-bottom: 7px;
}

.edu_st {
    color: darkgray;
}

.edu_chan {
    list-style-type: circle;
    margin-left: 30px;
}

/* Education End */

/* Contacts Start */
.contacts {
    height: 24em;
}

.contacts h1 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    font-weight: lighter;
    color: black;
    margin-top: 1%;
}

.contacts hr {
    margin-left: 47%;
    margin-right: 47%;
    background-color: black;
    height: 1.5px;
}

.contacts form {
    margin-top: 4%;
    margin-left: 35%;
    color: darkgray;
}

.mlft {
    margin-left: 41.5%;
    margin-right: 35%;
    height: 2px;
    margin-top: 4px;
    background-color: black;
}

/* Contacts End */

/* Footer Start */
footer {
    margin-top: 40px;
}

footer nav a {
    text-decoration: none;
    color: black;
    padding-left: 70px;
    padding-right: 70px;
    margin-left: 25px;
}

#cp_tl {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: brown;
    float: left;
    margin-left: 80px;
}

.brf {
    border-right: 1px solid black;
}

#fh2 a {
    color: brown;
    text-decoration: none;
    float: right;
    margin-right: 100px;
}

/* Footer End */